<div class="active-list-body">
    <h1>Active List Page</h1>
    <% for(let i = 0; i < games.length; i++) { %>
        <h2>title : <%= games[i].title %></h2>
        <div>creator ID : <%= games[i].creatorId %></div>
        <div>teams : <%= games[i].teams %></div>
        <div>
            FirstRound <br>
                game1 : ( <br>
                            team1 : <%= games[i].game.firstRound.game1.team1 %> <br>
                            team2 : <%= games[i].game.firstRound.game1.team2 %> <br>
                            winner : <%= games[i].game.firstRound.game1.winner %> <br>
                        ), <br>
                game2 : ( <br>
                            team3 : <%= games[i].game.firstRound.game2.team3 %> <br>
                            team4 : <%= games[i].game.firstRound.game2.team4 %> <br>
                            winner : <%= games[i].game.firstRound.game2.winner %> <br>
                        ), <br>
                game3 : ( <br>
                            team5 : <%= games[i].game.firstRound.game3.team5 %> <br>
                            team6 : <%= games[i].game.firstRound.game3.team6 %> <br>
                            winner : <%= games[i].game.firstRound.game3.winner %> <br>
                        ), <br>
                game4 : ( <br>
                            team7 : <%= games[i].game.firstRound.game4.team7 %> <br>
                            team8 : <%= games[i].game.firstRound.game4.team8 %> <br>
                            winner : <%= games[i].game.firstRound.game4.winner %> <br>
                        ), <br>                 
        </div>
        <div>isPremium : <%= games[i].isPremium %></div>
        <div>comment : <%= games[i].comment %></div>
        <div>isActive : <%= games[i].isActive %></div>
    <% } %>    
</div>